/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.15);
}

body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.05);
}

div::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.15);
}

div::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.05);
}

/* hack to get charts to properly resize */
.recharts-wrapper {
  position: absolute !important;
}

th,
td {
  padding-inline-start: 4px !important;
  padding-inline-end: 4px !important;
}
